@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');
 
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Montserrat', sans-serif;
}

.macro__wrapper{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.middle__text{
    height:100%;
    background-color: #1a1a2e;
    display: flex;
    align-items: center;
    justify-content: center;
}

.macro__title{
    color:white;
    font-size: 80px;
    padding: 96px;
    border-radius: 12px;
    border: 2px solid white;
    animation: pulse 2000ms infinite linear;
}

@keyframes pulse {
    0%{
        opacity: 100%
    }
    25%{
        opacity: 75%
    }
    50%{
        opacity: 50%
    }
    75%{
        opacity:75%;
    }
    100%{
        opacity:100%;
    }
}