@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Amaranth:wght@400;700&display=swap');

    /*
    font-family: 'Alata', sans-serif;
    font-family: 'Amaranth', sans-serif;
    */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

.row{
    max-width: 1300px;
    margin: 0 auto;
    width: 100%;
}

.container{
    padding: 96px;
}

.nav__container{
    padding: 96px;
    padding-bottom: 0px;
    padding-top: 32px;
}

.hero__container{
    padding: 96px;
    padding-top: 0px;
}

.hero{
    background-color: white;
    width: 100%;
    height: calc(100vh - 144px);
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.navbar{
    width: 100%;

}

.nav__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__left{

}


.nav__icon{
    color: black;
    font-size: 2.25rem;
    font-weight: bold;
    font-family: 'Amaranth', sans-serif;
}

.nav__middle{
    max-width: 425px;
    width: 100%
}

.nav__middle--links{
    display: flex;
    justify-content: space-between;
}

.nav__link{
    color: black;
    font-size: 1.5rem;
    font-family: 'Amaranth', sans-serif;
}

.nav__button{
    background-color: #308a7b;
    border: none;
    border-radius: 5px;
    padding: 16px 36px;
    color: white;
    font-size: 2rem;
    font-family: 'Amaranth', sans-serif;
}

.home__wrapper{
    display: flex;
    justify-content: space-between;
}

.home__left{
    display: flex;
    flex-direction: column;
    width: 60%
}

h1 {
}

.home__title{
    font-size: 5rem;
    font-weight: bold;
    color: black;
    line-height: 100.7%;
    font-family: 'Amaranth', sans-serif;
    text-align: left;
    margin: 0;
    margin-top: 10px
}

.home__description{
    font-size: 2.25rem;
    line-height: 113.2%;
    font-family: 'Alata', sans-serif;
    max-width: 573px;
    width: 100%;
    margin-top: 30px;
}

.home__buttons{
    max-width: 580px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    position: relative;
}

.home__button{
    padding: 24px 8px;
    max-width: 268px;
    width: 100%;
    font-family: 'Amaranth', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    z-index: 50;
    cursor: pointer;
}

.button__green{
    background-color: #308a7b;
    border: none;
    border-radius: 5px;
    color: white;
    border: 4px solid #308a7b;
}

.button__clear{
    background-color: white;
    border: 4px solid #308a7b;
    border-radius: 5px;
}

.home__right{
    width: 45%;
}

.hero__flower{
    max-width: 500px;
    width: 100%;
    max-height: 520px;
    height: 100%;
    margin: auto 0;
    transform: scale(1.05) translateY(22%);
}

.flower2{
    position: absolute;
    rotate: 180deg;
    max-width: 500px;
    max-height: 520px;
    transform: scale(1.05);
    left: 10%;
    top: 50%;
}

.extra{
    position: absolute;
    max-height: 150px;
    max-width: 150px;
    height: 100%;
    width: 100%;
    z-index: 1;
    bottom: 14%;
    right: 45%;
}

.red{
    position: absolute;
    max-height: 150px;
    max-width: 150px;
    height: 100%;
    width: 100%;
    z-index: 1;
    bottom: 14%;
    right: 10%;
}

.yellow{
    position: absolute;
    max-height: 150px;
    max-width: 150px;
    height: 100%;
    width: 100%;
    z-index: 1;
    bottom: 16%;
    right: 35%;
}

.flipped{
    position: absolute;
    height: 300px;
    min-width: 98vw
}

.extra2{
    position: absolute;
    max-height: 150px;
    max-width: 150px;
    height: 100%;
    width: 100%;
    z-index: 1;
    rotate: 180deg;
    top: 45%;
    left: 40%;
}

.red2{
    position: absolute;
    max-height: 150px;
    max-width: 150px;
    height: 100%;
    width: 100%;
    z-index: 1;
    rotate: 180deg;
    left: 50%;
    top: 30%;
}

.yellow2{
    position: absolute;
    max-height: 150px;
    max-width: 150px;
    height: 100%;
    width: 100%;
    z-index: 1;
    rotate: 180deg;
    top: 50%;
    left: 5%;

}

.underline__accent {
    position: absolute;
    max-width: 500px;
    width: 100%;
    transform: translateY(-15%)
}

.button__accent {
    position: absolute;
    max-width: 270px;
    width: 100%;
    scale: .95;
}

.left__accent{
    inset: 0px 0px 0px 0px;
    transform: translateY(-22%);
}

.right__accent {

    transform: translate(120%, -22%);
}

.home__bottom {
    position: absolute;
    width: 100vw;
    height: 15vh;
    bottom: 0;
    right: 0;
    z-index: 2;
    overflow-x: hidden;
}

.home__bottom__next{
    position: absolute;
    height: 180px;
    left:-10%;
    transform: translateY(-1%);
    z-index: 2;
    overflow-x: hidden;
}

.section__title{
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'Amaranth', sans-serif;
    color: #16168f;
    text-transform: uppercase;
}

.gurantee {
    height: 40vh;
    background-color: white;
    margin-top: 400px;
}

.gurantee__content{
    max-width: 574px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.section__para{
    text-align: center;
    line-height: 113.2%;
    font-size: 36px;
    font-family: 'Alata', sans-serif;
}

.landing{
    overflow-x: hidden;
    overflow-y: hidden;
}

.step__title{
    margin-top: 8px;
    font-size: 4.375rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 0.025em;
    line-height: 85px;
    max-width: 483px;
    width: 100%;
}

.one__left{
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    width: 48%;
}

.step__para{
    max-width: 638px;
    width: 100%;
    text-align: left !important;
}


.step__one{
    margin-top: 50px;
    position: relative;
}

.step__wrapper{
    display: flex;
    justify-content: space-between;
    position: relative;
}

.one{
    position: absolute;
    max-height: 720px;
    max-width: 400px;
    width: 100%;
    left: 10%;
}

.one__right{
    max-width: 600px;
    width: 100%;
    height: 700px;
    margin-right: 10px;
    scale: 1.1;
}

.sidebar{
    width: 38px;
    position: absolute;
    bottom: 40%;
}

.sidebar__right{
    right: 0;
}

.sidebar__left{
    left: 0;
    rotate: 180deg;
}

.two{
    
}

.two__para{
    max-width: 590px;
    width: 100%;
}

.searchWid{
    position: absolute;
    max-width: 448px;
    max-height: 100px;
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
    border-radius: 9999px;
    z-index: 0;
    left: -50px;
    top: 100px;
}

.calWid{
    position: absolute;
    max-height: 176px;
    max-width: 176px;
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    right: 140px;
    z-index: 100;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
    border-radius: 9999px;
}

.accent{
    position: absolute;
    max-width: 594px;
    max-height: 642px;
    width: 100%;
    height: 100%;
    inset: 24px 0px 0px 0px;
    z-index: -1;
}

.three{
    transform: translateX(20%)
}

.testimonials{
    height: 95vh;
    position: relative;
}

.testBar{
    position: absolute;
    max-width: 890px;
    max-height: 60px;
    width: 100%;
    height: 100%;
}

.testBar1{
    left: -2%;
    top: -15%;
}

.testBar2{
    right: -2%;
    bottom: -15%;
}

.testimonials__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.test__title{
    max-width: 506px;
    width: 100%;
    text-align: center;
    transform:translateY(-10%)
}

.test__section--title{
    transform:translateY(15%)
}

.box__accent{
    max-width: 482px;
    max-height: 598px;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -10 !important;
    border: 16px solid #308a7b;
    background-color: white;
    top: 18.5%;
    left: 18.5%;
    margin-top: 80px;
}

.test__card{
    max-width: 1112px;
    max-height: 490px;
    height: 100%;
    width: 100%;
    position: relative;
    padding: 84px 0px;
    display: flex;
    align-items: center;
    background-color: white;
    z-index: 2;
    position: relative;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    justify-content: center;
}

.clear__dot{
    background-color: white !important;
    border-radius: 9999px;
    border: 2px solid black;
}

.test__card--left{
    max-width: 540px;
    height: 310px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.test__para{
    text-align: left;
    font-size: 2.5rem;
}

.green__box{
    max-width: 53px;
    max-height: 53px;
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    background-color: #308a7b;
}

.connector{
    position: absolute;
    max-width: 106px;
    width: 100%;
    border-top: 2px solid black;
    top: 50%;
    left: 10%;
}

.test__left--middle{
    display: flex;
    position: relative;
    max-width: 300px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.test__name{
    font-size: 1.5rem;
    font-family: 'Alata', sans-serif;
}

.test__name__title{
    font-size: 0.875rem;
    font-family: 'Alata', sans-serif;
}

.test__left--buttons{
    display: flex;
    max-width: 92px;
    justify-content: space-between;
    width: 100%;
}

.test__button{
    border-radius: 9999px;
    max-height: 40px;
    max-width: 40px;
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    border: 2px solid #308a7b;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.test__right--button{
    background-color: #308a7b;
}

.test__card--image{
    max-width: 330px;
    max-height: 330px;
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
}

.test__card--right{
    margin-left: 60px;
    position: relative;
    padding: 8px 0px;
}

.right__bracket{
    position: absolute;
    max-width: 250px;
    max-height: 420px;
    width: 100%;
    height: 130%;
    top: -11%;
    right: -10%;
}

.arrow{
    max-width: 20px;
    max-height: 20px;
    width: 100%;
    height: 100%;
}

.dots{
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    bottom: 5%;
    left: 50%;
    z-index: 100;
    max-width: 90px;
    width: 100%;

}

.dot{
    max-height: 16px;
    max-width: 16px;
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 9999px;
    background-color: #308a7b;

}

.footer{
    position: relative;
    margin-top: 6rem
}

.footer__container{
    padding: 6rem;
    padding-bottom: 0;
    background-color: transparent;
}

.bottombg {
    background-color: #308a7b;
    width: 100%;
    max-height: 26px;
    height: 26px;
    position: absolute;
    bottom: 0;
}

.footer__right{
    max-width: 600px;
    width: 100%;
}

.three__picture{
    scale: 1
}

.burger{
    width: 54px;
    height: 54px;
    color: black;
    display: none;
}

@media (max-width: 1650px){
    .gurantee__content{
        transform: translateX(50%)
    }
}

@media (max-width: 1300px){

    .navbar, .home__wrapper{
        width: 95%;
        margin: 0 auto;
    }

    .nav__button{
        padding: 16px 24px
    }



}

@media (max-width: 1200px){

    .test__card{
        width: 90%;
        margin: 0 auto;
    }

    .test__card--left{
        padding-left: 16px
    }

    .test__card--right{
        margin-left: 0;
    }

    .gurantee__content{
        transform: translate(0%, 45%)
    }

    .home__bottom__next{
        transform: translateY(-7%)
    }
    
    .home__button{
        max-width: 220px
    }

    .button__accent{
        scale: .85;
        bottom: -95px
    }

    .left__accent{
        left: -20px;
        bottom: -100px
    }

    .right__accent{
        right: 250px;
    }

    .hero__flower, .flower2{
        max-width: 480px;
        max-height: 480px;
        transform: translateY(30%)
    }

    .flower2 {
        transform: translateY(10%)
    }

    .red, .red2{
        right: 0;
    }

    .home__title{
        font-size: 4.688rem;
    }

    .one__left{
        padding: 16px;
        
    }

    .one__right{
        padding: 16px;
        width: 40%
    }

    .step__wrapper{
        display: flex;
        justify-content: center;
    }

    .calWid{
        right:80px;
        top: 60px;
    }
}

@media (max-width: 1000px){

    .home__bottom__next{
        transform: translateY(-12%)
    }

    .hero{
         overflow: hidden;
    }

    .calWid{
        scale: 70%;
        top: 120px;
        right: 50px
    }

    .home__title{
        font-size: 4.25rem;
    }

    .home__description{
        font-size: 1.75rem;
    }

    .button__accent{
        display: none;
    }

    .hero__flower, .flower2{
        max-width: 400px;
        max-height: 400px;
        transform: translateY(58%)
    }

    .flower2{
        transform: translateY(8%)
    }

    .extra, .extra2{
        transform: translateY(22%)
    }

    .red, .red2{
        transform: translateY(15%)
    }

    .yellow, .yellow2{
        transform: translateY(35%)
    }

    .searchWid{
        scale: 80%;
        top: 150px;
    }

    .home__buttons{
        flex-direction: column;
        margin-top: 20px;
    }

    .home__bottom{
        bottom: -3%;
        
    }

    .home__button{
        max-width: 380px;
    }
    
    .button__clear{
        margin-top: 16px;
    }

    .step__title{
        font-size:3.125rem;
    }

    .section__title{
        font-size: 2rem;
    }

    .section__para{
        font-size: 1.75rem
    }

    .two, .one{
        scale: .8
    }

    .three{
        transform: translateX(-8%);
        scale: .8;
    }

    .step__one{
        height: 80vh
    }

    .gurantee__content{
        width: 80%;
        margin-top: 150px;
    }
}

@media (max-width: 800px){

    .home__bottom__next{
        transform: translateY(-20%)
    }

    .home__title{
        font-size: 3.75rem;
    }

    .home__description{
        font-size: 1.5rem;
    }

    .extra, .extra2{
        transform: translateY(70%);
        scale: .7;
    }

    .red, .red2{
        transform: translateY(60%);
        scale: .7;
    }

    .hero__flower{
        transform: translateY(70%);
    }

    .flower2{
        transform: translateY(18%);
    }

    .yellow, .yellow2{
        transform: translateY(90%);
        scale: .7;
    }

    .step__one{
        height: 100vh
    }

    .step__wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .one__left {
        width: 80%;
        margin-top: 100px
    }

    .step__title{
        font-size:4.375rem;
    }

    .section__title{
        font-size: 2.5rem;
    }

    .section__para{
        font-size: 2rem
    }
    
    .one {
        opacity: 80%
    }

    .one__right{
        width: 70%;
        margin-top: 160px;
        margin-right: 0;
    }

    .calWid{
        scale: 100%;
        right: 100px;
        top: 60px

    }

    .searchWid{
        scale: 100%;
        top:130px
    }

    .step__two{
        margin-top:500px;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .step__three{
        margin-top:600px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .diary{
        margin-right: 0;
        margin-top: 200px;
    }

    .testimonials{
        margin-top: 680px;
    }

    .three__picture{
        margin-top: 100px
    }

    .two{
        transform: translateX(8%)
    }

    .avocado, .diary{
        transform: translateX(7%)
    }

    .three__picture{
        transform: translateX(4%)
    }

    .nav__middle--links, .nav__right{
        display: none;
    }

    .burger{
        display: block;
    }

    .hero{
        overflow: hidden
    }

}

@media (max-width: 715px){
    
    .home__bottom__next{
        transform: translateY(-30%)
    }

    .flower2{
        transform: translateY(30%);
    }

    .extra2{
        transform: translate(-50%, 110%);
    }

    .yellow2{
        transform: translateY(120%);
    }

    .red2{
        transform: translate(-60%, 100%);
    }
}

@media (max-width: 605px){

    .home__bottom__next{
        transform: translateY(-40%)
    }
}


@media (max-width: 550px){

    .green__box{
        display: none;
    }

    .connector{
        display: none;
    }

    .box__accent{
        scale: .65;
        transform: translateX(-40%)
    }

    .hero{
        overflow: hidden
    }

    .home__wrapper{
        flex-direction: column;
    }

    .hero__flower{
        max-width: 200px;
        max-height: 200px;
        transform: translate(90%, 20%)
    }

    .home__description, .home__buttons{
        width: 90vw
    }

    .home__title{
        width: 100vw;
    }

    .underline__accent{
        width: 70vw;
    }

    .extra, .extra2{
        display: none;
    }

    .red, .red2{
        display: none;
    }

    .yellow, .yellow2{
        display: none;
    }
    

    .step__title{
        font-size:2.5rem;
        line-height: 60px;
    }

    .section__title{
        font-size: 1.5rem;
    }

    .section__para{
        font-size: 1.25rem;
    }

    .one{
        height: 50vh
    }

    .sidebar__right{
        bottom: 48%;
        right: -3%
    }

    .sidebar__left{
        bottom: 52%;
        left: -3%
    }

    .three{
        transform: translateX(-7%)
    }

    .calWid{
        right: 40px;
        top: 150px;
        scale: .7;
    }

    .searchWid {
        top: 210px;
        max-width: 240px;
    }

    .avocado{
        margin-top: 60px;
    }

    .diary{
        margin-top: 60px;
    }

    .three__picture{
        margin-top: 40px
    }

    .step__two, .step__three{
        margin-top: 140px;
    }

    .home__bottom{
        bottom: -6%;
    }

}

@media (max-width: 490px){
    .hero__flower{
      display: none;
    }

    .flower2{
        scale: .9;
        transform: translateY(40%);
    }
}